<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button defaultHref="/"></ion-back-button>
          <ion-title *ngIf="book">{{book.title}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- <ion-content>
  <ion-list>
    <ion-item-group *ngFor="let c of chaptersGroupedList">
      <ion-item-divider color="secondary">
        {{c.chapter}}
      </ion-item-divider>
      <ion-item *ngFor="let q of c.quizes">
        <ion-row>
          <ion-col>
            <h4>{{q.quiz}}</h4>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content> -->




<!-- size-sm="6" size="4" size="12" size="12" -->
<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let c of chaptersGroupedList  | orderBy:  'displayOrder':'asc'; index as i" size-xs="12">

          <ion-card>
            <ion-card-header>
              <ion-card-subtitle color="primary">
                <ion-row>
                  <ion-col size="2">
                    {{i+1}}
                  </ion-col>
                  <ion-col size="10" style="font-size:large;">
                    {{c.chapter}}
                  </ion-col>
                </ion-row>

              </ion-card-subtitle>
              <!-- <ion-card-title>{{c.chapter}}</ion-card-title> -->
            </ion-card-header>
            <ion-card-content>
              <ion-item *ngFor="let q of c.quizes  | orderBy:  'displayOrder':'asc' ; index as x" (click)="onSelecteQuiz(q)" detail>
                <ion-row>
                  <ion-col>
                    <h3>{{i+1}}-{{x+1}} {{q.quiz}}</h3>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>



  </ion-list>
</ion-content>